auth:
  uri: "https://ident.services"
  client_id: "sync-account@yourdomain.com"
  client_secret: "your-sync-account-client-secret"
samedis:
  uri: "https://sync.samedis.care"
  api_version: "v4"
  tenant_id: "63f5c0491b57cc000df2b2c7"
sync:
  device_types: false
  contacts: false
  device_models: true
  departments_download: false
  departments_upload: false
  locations_download: false
  locations_upload: false
  inventories_download: false
  inventories_upload: false
  tasks_download: false
  tasks_upload: false
  task_download_types: maintenance
  # task_download_types: malfunction
  # task_download_types: device_retired
  # task_download_types: recommission_device
  # task_download_types: occurrence
  # task_download_types: security_message
  task_archive_filter: true
  task_download_status: done
  # task_download_status: _new
  # task_download_status: pending
  # task_download_status: in_progress
  # task_download_status: due_in_6week
  # task_download_status: elapsed
  # task_download_status: not_done
  tickets_download: false
  tickets_upload: false
  trainings: false
logging:
  # 0: off 1: on 2: debug
  level: 1
  # 0: none 1: console 2: logfile 3: console & logfile
  mode: 2
http:
  valid_certificate: true
  proxy: ""
  proxy_username: ""
  proxy_password: ""
# choose excel, sql
import_mode: "sql"
import_file: "import/import.xlsx"
import_sql:
  # SqlServer, MySql, SQLite, Oracle
  database_type: SqlServer
  server: "your_server"
  port: "your_port"
  database: "your_database"
  username: "your_username"
  password: "your_password"
  allow_public_key_retrieval: true # Only applicable for MySQL
  staff_query: "import/_export_staff.sql"
